// Variables for color scheme


$vibrant-blue: #004BB4;
$vibrant-blue-lighter: #0F5AC8;
$light-gradient: linear-gradient(180deg, #F1F8FF 0%, #F8FAFC 0.01%, rgba(255, 255, 255, 0) 100%);
$light-blue: #F8FAFC;
$dark-blue: #173049;
$dark-blue-light: #BABABA;
$green-validation: #3A9679;
$red-warning: #E16262;

