$color-1: #ffe1d1;
$color-2: #ffdbca;

// :root {
//     /* BASE COLORS */
//     --color-1:  #ffe1d1;
//     --color-2: #ffdbca;
// }
body {
  overflow-x: hidden;
  padding: 0px;
  // font-family: Alegreya, serif;
}


//Hero section
.container {
  max-width: 1500px;
  margin: 0 auto;
}
.hero_container {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "lamp title sun sun"
    "lamp title sun sun";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(20px, auto));
  margin-top: -120px;
}

.hero_cta {
  grid-area: title;
  justify-self: end;
  align-self: center;
  z-index: 3;
}


//Hero Call to Action
.cta_title {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 16px;
  // line-height: 69px;
}
.cta_description {
  font-size: 16px;
  color: #333333;
  margin-bottom: 16px;
}
.cta_btn {
  width: 220px;
  height: 44px;
  font-family: Raleway;
  // position: absolute;
  cursor: pointer;
  background: $vibrant-blue;
  border: none;
  border-radius: 2px;
  font-size: 20px;

  color: #ffffff;
  // transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
  padding: 10px;
  margin-top: 16px;

  &:hover {
    opacity: 0.7;
    background: $vibrant-blue-lighter;
    color: white;
  }
}

//Waves
.hide {
  visibility: visible;
}

#waves {
  justify-self: end;
  max-width: 1500px;
  width: 100%;
  grid-column: 1/5;
  align-self: end;
  grid-row: 2/2;

}

// flying logos

.flying-logos-container {

}


//second section
.two {
  background: $light-gradient;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/780593/Group%202-1.png");
  background-repeat: no-repeat;
  background-position: 35% 0;
  background-size: cover;
}
.news_container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, auto);
  grid-gap: 20px;
  // padding: 24px;
}

.path {
  visibility: hidden;
}
.news {
  max-width: 265px;
  h3 {
    line-height: 35px;
    font-size: 30px;
    text-transform: none;
  }
  p {
    font-size: 16px;
    color: #333333;
    margin-bottom: 16px;
  }
}
.news_1 {
  grid-column: 2;
  grid-row: 1/2;
  align-self: start;
  justify-self: start;
}
.news_2 {
  grid-column: 2;
  grid-row: 3/4;
  align-self: start;
  justify-content: start;
}
.news_3 {
  grid-column: 2;
  grid-row: 5/6;
  align-self: start;
  justify-self: start;
}


