<div class="card-synthesis">
  <p><%=  hightlight( Subscriptions last month , 'Subscriptions', highlighter: '<strong>\1</strong>') %></p>
  <h2><%= user.last_month_spent %>€</h2>
  <div class="d-flex">
    <% image_tag("icons/#{ user.last_month_trend }.png", class: "card-subscription-trend") %>
    <% if user.last_month_trend == 'arrow_up' %>
      <div class="card-synthesis-trend-up">
        <p>increase by <span class="var-amount"><%= user.last_month_var.abs %></span></p>
      </div>
    <% else %>
      <div class="card-synthesis-trend-down">
        <p>decrease by <span class="var-amount"><%= user.last_month_var.abs %></span></p>
      </div>
    <% end %>
  </div>
</div>
