<div class="card-dates-container">
  <div class="card-dates-header">
    <span class="card-dates-title">Dates à retenir</span>
    <img src="" alt="">
  </div>
  <div class="card-dates-content">
    <div class="date-row">
      <div class="date-header">
        <p>Dernier paiement</p>
      </div>
      <div class="date-result">
        <p>28 mai 2019</p>
      </div>
    </div>
    <div class="date-row">
      <div class="date-header">
        <p>Prochain paiement (est.)</p>
      </div>
      <div class="date-result">
        <p>8 juin 2019</p>
      </div>
    </div>
    <div class="date-row">
      <div class="date-header">
        <p>Date de renouvellement (est.)</p>
      </div>
      <div class="date-result">
        <p>9 juin 2019</p>
      </div>
    </div>
  </div>
  <div class="card-add-reminder">
    <a href="">Fin de période d'essai</a>
    <a href="">+</a>
  </div>
</div>
