<!-- <div class="card-stats">
  <div class="line-1">
    <span class="amount-spent">1500€</span>
    <p>dépensés depuis le <strong>8 mai 2015</strong></p>
  </div>
  <div class="line-2">
    <p>soit <strong>8%</strong> de vos dépenses totales</p>
  </div>
</div> -->

<div class="card-stats">
  <div class="card-stats-item"><span class="data-point">1500€</span><span class="data-label">depuis 08/05/2015</span></div>
  <div class="card-stats-item"><span class="data-point">5,5%</span><span class="data-label">des dépenses</span></div>
  <div class="card-stats-item"><span class="data-point">6%</span><span class="data-label">de la communauté</span></div>
</div>
