<div class="card-stats">
  <div class="line-1">
    <span class="amount-spent">1500€</span>
    <p>dépensés depuis le <strong>8 mai 2015</strong></p>
  </div>
  <div class="line-2">
    <p>soit <strong>8%</strong> de vos dépenses totales</p>
  </div>
</div>

