<div class="card-dates-container">
  <div class="card-dates-header">
    <span class="card-dates-title">Agenda</span>
    <img src="" alt="">
  </div>
  <div class="card-dates-content">
    <div class="date-row">
      <div class="date-header">
        <p>Dernier paiement</p>
      </div>
      <div class="date-result">
        <p><%= l(subscription.operations.order(date: :desc).first.date, format: '%d %B %Y') %></p>
      </div>
    </div>
    <div class="date-row">
      <div class="date-header">
        <p>Prochain paiement (~)</p>
      </div>
      <div class="date-result">
<!--         <svg class="svg-icon bell" viewBox="0 0 20 20">
              <path d="M14.38,3.467l0.232-0.633c0.086-0.226-0.031-0.477-0.264-0.559c-0.229-0.081-0.48,0.033-0.562,0.262l-0.234,0.631C10.695,2.38,7.648,3.89,6.616,6.689l-1.447,3.93l-2.664,1.227c-0.354,0.166-0.337,0.672,0.035,0.805l4.811,1.729c-0.19,1.119,0.445,2.25,1.561,2.65c1.119,0.402,2.341-0.059,2.923-1.039l4.811,1.73c0,0.002,0.002,0.002,0.002,0.002c0.23,0.082,0.484-0.033,0.568-0.262c0.049-0.129,0.029-0.266-0.041-0.377l-1.219-2.586l1.447-3.932C18.435,7.768,17.085,4.676,14.38,3.467 M9.215,16.211c-0.658-0.234-1.054-0.869-1.014-1.523l2.784,0.998C10.588,16.215,9.871,16.447,9.215,16.211 M16.573,10.27l-1.51,4.1c-0.041,0.107-0.037,0.227,0.012,0.33l0.871,1.844l-4.184-1.506l-3.734-1.342l-4.185-1.504l1.864-0.857c0.104-0.049,0.188-0.139,0.229-0.248l1.51-4.098c0.916-2.487,3.708-3.773,6.222-2.868C16.187,5.024,17.489,7.783,16.573,10.27"></path>
        </svg> -->
        <p><%= l(subscription.next_payment_date, format: '%d %B %Y') %></p>
      </div>
    </div>
    <div class="date-row">
      <div class="date-header">
        <p>Date de renouvellement (~)</p>
      </div>
      <div class="date-result">
        <%= link_to google_calendar_item_path, remote: true do %>
          <svg class="svg-icon bell" id="pre-calendar-item" viewBox="0 0 20 20">
                <path d="M14.38,3.467l0.232-0.633c0.086-0.226-0.031-0.477-0.264-0.559c-0.229-0.081-0.48,0.033-0.562,0.262l-0.234,0.631C10.695,2.38,7.648,3.89,6.616,6.689l-1.447,3.93l-2.664,1.227c-0.354,0.166-0.337,0.672,0.035,0.805l4.811,1.729c-0.19,1.119,0.445,2.25,1.561,2.65c1.119,0.402,2.341-0.059,2.923-1.039l4.811,1.73c0,0.002,0.002,0.002,0.002,0.002c0.23,0.082,0.484-0.033,0.568-0.262c0.049-0.129,0.029-0.266-0.041-0.377l-1.219-2.586l1.447-3.932C18.435,7.768,17.085,4.676,14.38,3.467 M9.215,16.211c-0.658-0.234-1.054-0.869-1.014-1.523l2.784,0.998C10.588,16.215,9.871,16.447,9.215,16.211 M16.573,10.27l-1.51,4.1c-0.041,0.107-0.037,0.227,0.012,0.33l0.871,1.844l-4.184-1.506l-3.734-1.342l-4.185-1.504l1.864-0.857c0.104-0.049,0.188-0.139,0.229-0.248l1.51-4.098c0.916-2.487,3.708-3.773,6.222-2.868C16.187,5.024,17.489,7.783,16.573,10.27"></path>
          </svg>

          <svg class="svg-icon bell-2 display-none" id="post-calendar-item" xmlns="http://www.w3.org/2000/svg" viewBox="-36 1 511 512"><path d="M257.129 452.129c0-33.067-26.848-59.871-59.969-59.871s-59.969 26.804-59.969 59.87S164.04 512 197.161 512s59.968-26.805 59.968-59.871zm0 0" fill="#f7c92b"/><path d="M197.16 392.258c-6.062 0-11.914.906-17.43 2.578 24.618 7.453 42.54 30.277 42.54 57.293 0 27.012-17.922 49.84-42.54 57.293A59.996 59.996 0 0 0 197.16 512c33.121 0 59.969-26.805 59.969-59.871s-26.848-59.871-59.969-59.871zm0 0" fill="#f2b51d"/><path d="M204.168 102.7c-19.262 3.862-38.008-8.59-41.879-27.821-3.871-19.227 8.606-37.945 27.863-41.809 19.258-3.863 38.008 8.59 41.88 27.82 3.866 19.227-8.606 37.946-27.864 41.81zm0 0" fill="#f7c92b"/><path d="M232.031 60.89c-3.87-19.23-22.62-31.683-41.879-27.82-1.793.36-3.523.852-5.191 1.453 11.242 4.11 20.144 13.79 22.676 26.368 3.511 17.437-6.426 34.457-22.672 40.355a35.462 35.462 0 0 0 19.203 1.453c19.258-3.863 31.73-22.582 27.863-41.808zm0 0" fill="#f2b51d"/><path d="M345.691 442.11H48.63C22.047 442.11.5 420.597.5 394.061a48.556 48.556 0 0 1 18.113-37.816l9.543-7.687c22.074-17.774 34.91-44.567 34.91-72.88v-50.495c0-74.504 60.493-134.899 135.118-134.899 74.62 0 135.117 60.395 135.117 134.899v51.43a93.573 93.573 0 0 0 33.726 71.913l9.293 7.735a48.552 48.552 0 0 1 17.5 37.316v.484c0 26.536-21.547 48.047-48.129 48.047zm0 0" fill="#f7e249"/><path d="M376.32 356.262l-9.293-7.735c-21.37-17.793-33.726-44.136-33.726-71.918v-51.43c0-74.5-60.496-134.898-135.117-134.898a135.285 135.285 0 0 0-38.07 5.442c56.085 16.41 97.046 68.156 97.046 129.457v51.43c0 27.78 12.356 54.124 33.727 71.917l9.297 7.735a48.565 48.565 0 0 1 17.5 37.316v.485c0 26.535-21.547 48.046-48.13 48.046h76.141c26.578 0 48.125-21.511 48.125-48.046v-.485a48.552 48.552 0 0 0-17.5-37.316zm0 0" fill="#f7c92b"/><path d="M440.078 115.777C440.078 51.836 388.16 0 324.113 0S208.145 51.836 208.145 115.777s51.921 115.778 115.968 115.778 115.965-51.836 115.965-115.778zm0 0" fill="#fc476e"/><path d="M355.23 4.223c29.575 20.98 48.868 55.46 48.868 94.441 0 63.941-51.918 115.777-115.965 115.777a116.127 116.127 0 0 1-31.117-4.222c18.937 13.437 42.093 21.336 67.097 21.336 64.043 0 115.965-51.836 115.965-115.778 0-53.18-35.914-97.976-84.848-111.554zm0 0" fill="#cc2b5a"/><path d="M324.113 169.852c-4.472 0-8.097-3.618-8.097-8.082V83.809l-3.02 2.754c-3.305 3.007-8.426 2.773-11.437-.528a8.073 8.073 0 0 1 .527-11.418l16.57-15.086a8.11 8.11 0 0 1 8.727-1.422 8.079 8.079 0 0 1 4.824 7.395v96.266c0 4.464-3.625 8.082-8.094 8.082zm0 0" fill="#e3faff"/></svg>
        <% end %>
        <p><%= l(subscription.renewal_date, format: '%d %B %Y') %></p>
      </div>
    </div>
  </div>
  <div class="card-add-reminder">
    <p>Modifier les dates</p>
      <svg class="svg-icon edit" viewBox="0 0 20 20">
              <path d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"></path>
      </svg>
  </div>
</div>
