<div class="card-affiliated-bank">
  <span class="description">
  <strong><%= subscription.operator.name  %></strong> est débité sur votre compte
  </span>
  <%= image_tag( "#{subscription.operator.bank_logo.gsub(/\s|"|'/, '')}" , class: "bank_logo")%>
</div>
