
<div class="card-stats">
  <div class="card-stats-item"><span class="data-point"><%= subscription.total_spent %></span><span class="data-label">depuis 08/05/2015</span></div>
  <div class="card-stats-item"><span class="data-point">5,5%</span><span class="data-label">des dépenses</span></div>
  <div class="card-stats-item"><span class="data-point">6%</span><span class="data-label">de la communauté</span></div>
</div>
