
<div class="card-stats">
  <div class="card-stats-item"><span class="data-point"><%= subscription.total_spent %></span><span class="data-label">depuis <%= subscription.operations.order(date: :desc).last.date %></span></div>
  <div class="card-stats-item"><span class="data-point"> <%= number_to_percentage(@last_month_share, precision: 0) %></span><span class="data-label">des dépenses</span></div>
  <div class="card-stats-item"><span class="data-point"><%= number_to_percentage(@community_coverage * 100, pecision: 0)  %></span><span class="data-label">de la communauté</span></div>
</div>
