<div class="navbar-show-container">
  <%= link_to(subscriptions_path) do %>
    <svg width="11" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.3 8.57l8.98 7.2c.39.3 1.03.3 1.42 0 .4-.32.4-.83 0-1.15L2.43 8l8.27-6.62c.4-.32.4-.83 0-1.14a1.2 1.2 0 0 0-1.42 0L.29 7.43a.7.7 0 0 0 0 1.14z" fill="#fff"/></svg>
  <% end %>
  <span class="navbar-show-title">Détails de l'abonnement</h2>
</div>



