<div class="navbar-show-container">
  <%= link_to(subscriptions_path) do %>
    <svg width="23" height="21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 1L2 10.27l12 9.82M2 10.27h21" stroke="#fff" stroke-width="2"/></svg>
  <% end %>
  <span class="navbar-show-title">Détails de l'abonnement</h2>
</div>



