


<div class= "container" data-index='<%= @dataindex %>' id="chart-1" style="height: 250px;"></div>

<!-- docs -->
<!-- https://github.com/ankane/groupdate -->
<!-- https://github.com/ankane/chartkick.js?files=1 -->
