
<div class="card-synthesis">
  <p><strong>Subscriptions</strong> last month</p>
  <h2>220€</h2>
  <div class="d-flex justify-content-center mr-3">
    <%= image_tag("arrow_up.png", class:"card-subscription-trend") %>
      <div class="card-synthesis-trend-up">
        <p>increase by <span class="var-amount">12€</span></p>
      </div>
  </div>
</div>

<% 10.times do %>

<div class="card-subscription">
  <div class="card-subscription-left">
    <div class="card-subscription-top-left">
      <div class="card-subscription-operator">
        <h3>amazon prime</h3>
      </div>
      <div class="card-subscription-frequency">
        <p>mensuel</p>
      </div>
    </div>
    <div class="card-subscription-bottom-left">
      <div class="card-subscription-price">
        <h2>6,99€</h2>
      </div>
      <%= image_tag("arrow_up.png", class:"card-subscription-trend") %>
    </div>
  </div>
  <div class="card-subscription-right">
    <div>
      <img src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1559739406/n26_l6turg.png" alt="logo" class="card-subscription-logo">
    </div>
    <div class="card-subscription-date">
      <p><strong>4</strong> mai</p>
    </div>
  </div>
</div>

<% end %>
