    <section class="hero">
      <div class="hero_container">
        <%= render 'shared/waves'  %>
        <%#= render 'shared/bluesun' %>
        <div class="hero_cta">
          <h2 class="cta_title">Gérez vos abonnements facilement.</h2>
          <p class="cta_description">
            Suivez facilement vos paiements récurrents et comparez-les aux autres membres de la communauté Zapit!
          </p>

        <%= link_to 'Get Your Bank', connect_item_path, class:'cta_btn' %>
        <%= link_to 'Add to Calendar ', google_calendar_item_path, class:'cta_btn', remote: true %>

        <%#= link_to "Website", @google_calendar_item, target: "_blank" %>
        </div>
        <div class="flying-logos-container">

        </div>
      </div>
    </section>

    <section class="two">

      <div class="news_container">
        <article class="news news_1">
          <h3>
            Synchronisez vos comptes en 1 min
          </h3>
          <p>
            Grâce à nos partenariat avec Bankin, nous sommes en mesure de synchroniser en toute sécurité l'ensemble de vos comptes bancaires en quelques clics.
          </p>
        </article>



        <article class=" news news_2">
          <h3>
            Visualisez vos paiements récurrents
          </h3>
          <p>
            Difficile de connaître exactement ce que vous coûte chacun de vos abonnements ? Sur Zapit!, vous retrouvez toutes les infos en un coup d'oeil.
          </p>
        </article>

        <!-- girl and paper planes-->

        <article class=" news news_3">
          <h3>Faites des économies.</h3>
          <p>
            Grâce à la communauté Zapit!, vous saurez si vous payez le bon prix, pour chaque abonnement.
          </p>
        </article>
      </div>
    </section>
    <div>




    </div>
