    <section class="hero">
      <div class="hero_container">
        <svg id="waves" width="1440" height="488" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="wave1" d="M506.329 191.177c-57.905-82.817-183.788-78.873-229.105 0C243.116 250.54 84.696 291.744 0 259.173V476.5h1440V78.14c-57.7-78.365-229.98-132.117-338.67 12.051-92.63 122.865-244.276 240.635-295.048 105.165-42.957-114.62-162.964-90.264-198.894-34.179-29.53 46.095-43.153 112.818-101.059 30z" fill="#F8FAFC" />
                    <path id="wave3" d="M190.15 279.006C111.12 196.129 4.048 175.08-74.981 240.856c-41.608 34.63-85.335 74.729-136.019 82.862V488h1651V369.102c-58.99 27.431-112.8 15.294-146.09-15.887-108.04-101.179-248.32-155.257-384.847-74.209-50.222 29.813-94.325 82.877-152.96 0-58.635-82.877-186.102-78.931-231.99 0-45.888 78.93-254.934 82.877-333.963 0z" fill="#F8FAFC" />
                    <path id="wave5" d="M407.012 322.649C326.015 201.536 101.922 394.979 0 431.839V476.5h1440V336.782c-7.54 6.912-13.88 15.072-18.5 24.043-23.75 46.161-74.92 82.936-121.49 0-46.57-82.935-147.82-78.986-184.27 0-36.45 78.987-202.494 82.936-265.267 0-62.773-82.935-147.82-103.998-210.593-38.176-62.773 65.822-131.621 151.391-232.868 0z" fill="#F8FAFC" />
                    <path id="wave2" class="hide" d="M1102 101c119.5-73 182.83-77.581 233.5 27 23.5 48.5 19.8 90.744 104.5 58.173V403.5H0V87C57.7 8.634 387.615-45.786 535 58.5c138.5 98 68 105 195.919 15.5C857.924-14.86 903.5 51.655 966 87c72.5 41 49.76 66.68 136 14z" fill="#F8FAFC" />
                    <path id="wave4" class="hide" d="M73 206.006C-92 142.5-101.471 113.724-180.5 179.5c-41.608 34.63-55.816 60.366-106.5 68.5l-9 167h1736V296.102c-58.99 27.431-231.2-41.42-264.5-72.602-108.04-101.178-219.469-98.542-356-17.494-50.223 29.813-193.257 53.561-279.5 0-109.5-68.006-144.14-42.396-225 0-133.5 69.994-135.125 41.134-242 0z" fill="#FFE8DC" />
                    <path id="wave6" class="hide" d="M821.988 322.649c80.997-121.113 305.092 72.33 407.012 109.19V476.5H-211V336.782c7.538 6.912 13.88 15.072 18.495 24.043 23.751 46.161 74.923 82.936 121.496 0 46.574-82.935 147.82-78.986 184.269 0 36.449 78.987 202.494 82.936 265.267 0 62.773-82.935 147.82-103.998 210.593-38.176 62.773 65.822 131.621 151.391 232.868 0z" fill="#F8FAFC" />
                </svg>
        <div class="hero_cta">
          <h2 class="cta_title">Gérez vos abonnements facilement.</h2>
          <p class="cta_description">
            Suivez facilement vos paiements récurrents et comparez-les aux autres membres de la communauté Zapit!
          </p>
          <button class="cta_btn">Commencer</button>
        </div>
      </div>
    </section>

    <section class="two">

      <div class="news_container">
        <article class="news news_1">
          <h3>
            Synchronisez vos comptes en 1 min
          </h3>
          <p>
            Grâce à nos partenariat avec Bankin, nous sommes en mesure de synchroniser en toute sécurité l'ensemble de vos comptes bancaires en quelques clics.
          </p>
        </article>



        <article class=" news news_2">
          <h3>
            Visualisez vos paiements récurrents
          </h3>
          <p>
            Difficile de connaître exactement ce que vous coûte chacun de vos abonnements ? Sur Zapit!, vous retrouvez toutes les infos en un coup d'oeil.
          </p>
        </article>

        <!-- girl and paper planes-->

        <article class=" news news_3">
          <h3>Faites des économies.</h3>
          <p>
            Grâce à la communauté Zapit!, vous saurez si vous payez le bon prix, pour chaque abonnement.
          </p>
        </article>
      </div>
    </section>
    <div>

<a href="<%= Bridge::Items::Connect.call(current_user) %>" class= "btn btn-primary" target="_blank">Establish Connection with Your Bank(s)</a>


    </div>
