<h1>heading 1</h1>
<h2>heading 2</h2>
<h3>heading 3</h3>
<h4>heading 4</h4>
<h5>heading 5</h5>
<p>paragraph</p>
<div class="card-subscription">
  <div class="card-subscription-left">
    <div class="card-subscription-top-left">
      <div class="card-subscription-operator">
        <h3>amazon prime</h3>
      </div>
      <div class="card-subscription-frequency">
        <p>mensuel</p>
      </div>
    </div>
    <div class="card-subscription-bottom-left">
      <div class="card-subscription-price">
        <h2>6,99€</h2>
      </div>
      <img src='https://res.cloudinary.com/dpnte3nr8/image/upload/v1559738600/arrow_up_ezbmjn.png' alt="icon" class="card-subscription-trend"/>
    </div>
  </div>
  <div class="card-subscription-right">
    <img src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1559739406/n26_l6turg.png" alt="logo" class="card-subscription-logo">
    <div class="card-subscription-date">
      <p><strong>4</strong>mai</p>
    </div>
  </div>
</div>
<div class="card-subscription">
  <div class="card-subscription-left">
    <div class="card-subscription-top-left">
      <div class="card-subscription-operator">
        <h3>amazon prime</h3>
      </div>
      <div class="card-subscription-frequency">
        <p>mensuel</p>
      </div>
    </div>
    <div class="card-subscription-bottom-left">
      <div class="card-subscription-price">
        <h2>6,99€</h2>
      </div>
      <img src='https://res.cloudinary.com/dpnte3nr8/image/upload/v1559738600/arrow_up_ezbmjn.png' alt="icon" class="card-subscription-trend"/>
    </div>
  </div>
  <div class="card-subscription-right">
    <img src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1559739406/n26_l6turg.png" alt="logo" class="card-subscription-logo">
    <div class="card-subscription-date">
      <p><strong>4</strong>mai</p>
    </div>
  </div>
</div>
<div class="card-subscription">
  <div class="card-subscription-left">
    <div class="card-subscription-top-left">
      <div class="card-subscription-operator">
        <h3>amazon prime</h3>
      </div>
      <div class="card-subscription-frequency">
        <p>mensuel</p>
      </div>
    </div>
    <div class="card-subscription-bottom-left">
      <div class="card-subscription-price">
        <h2>6,99€</h2>
      </div>
      <img src='https://res.cloudinary.com/dpnte3nr8/image/upload/v1559738600/arrow_up_ezbmjn.png' alt="icon" class="card-subscription-trend"/>
    </div>
  </div>
  <div class="card-subscription-right">
    <img src="https://res.cloudinary.com/dpnte3nr8/image/upload/v1559739406/n26_l6turg.png" alt="logo" class="card-subscription-logo">
    <div class="card-subscription-date">
      <p><strong>4</strong>mai</p>
    </div>
  </div>
<%= render("shared/card-subscription-right", subscription: sub, operator: sub;operator %>

</div>

