<h1>test_redirect</h1>
<p>Find me in app/views/pages/test_redirect.html.erb</p>

<%= #link_to "Dishoom", restaurant_path(1), class: "btb btn-primary" %>
<br>
<br>

<a href="<%= Bridge::Items::Connect.call(current_user) %>" class= "btn btn-primary" target="_blank">Establish Connection with Your Bank(s)</a>



