.card-stats-community {
  overflow: hidden;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: $dark-blue;
    margin-left: 16px;
    margin-bottom: 0px;
  }
  .line-1 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

