.card-synthesis {
  overflow: hidden;
  padding: 16px;
  h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 0px;
    color: $vibrant-blue;
  }
  p{
    font-family: Raleway;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: $dark-blue;
    margin-bottom: 0px;
  }
}

.card-synthesis-trend-up, .card-synthesis-trend-down {
  display: flex;
  align-items: center;
}

.card-subscription-date {
  display: flex;
  align-items: center;
}
