.card-stats {
  overflow: hidden;
  padding: 16px;
}
.line-1, .line-2, .line-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  .amount-spent {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 0px;
    color: $vibrant-blue;
  }
  p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: $dark-blue;
    margin-left: 16px;
    margin-bottom: 0px;
  }
}
.line-2 {}
.line-3 {
}
