.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand h1 {
font-family: Abril Fatface;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 54px;
text-transform: capitalize;
color: $vibrant-blue;
}

#nav-toggler {
  color: $vibrant-blue;
  border: none;
}
