.navbar-show-container {
  height: 62px;
  color: white;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
}

.navbar-show-title {
  font-family: $body-font;
  color: $vibrant-blue;
  font-style: normal;
  font-weight: bold;
  text-transform: none;
  font-size: 18px;
  line-height: 32px;
  margin-left: 24px;
}
