// svg icons

.svg-icon {
  width: 20px;
  height: 20px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $dark-blue-light;
}

.svg-icon circle {
  stroke: $dark-blue-light;
  stroke-width: 1;
}

.bell, .list {
  margin-right: 8px;
}

.bell path,
.bell polygon
.bell rect {
  fill: #FFD700;
}

.bell {
  stroke: #FFD700;
  stroke-width: 1px;
  fill: #FFD700;
}

// bell-2 items

.bell-2, .list {
  margin-right: 8px;
}

.bell-2 path,
.bell-2 polygon
.bell-2 rect {
  fill: #FFD700;
}

.bell-2 {
  stroke: black;
  stroke-width: 24px;
  fill: #FFD700;
}

.display-none {
  display: none;
}

.other {
  display: none !important;
}

.edit {
  margin-left: 8px;
  margin-bottom: 3px;
}



// dust bin design
.bin {
  width: 32px;
  height: 32px;
  animation: bin 2s infinite;

}

.bin path,
.bin polygon,
.bin rect {
  fill: white;
}

.bin circle {
  stroke: white;
  stroke-width: 1;
}

.bin:hover {
  animation: none;
}

@-webkit-keyframes bin {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes bin {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
