.card-subscription-show {
  background: transparent;
  overflow: hidden;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 2px;

}

.card-subscription-show-date {
  flex: auto;
  display: flex;
  align-items: center;
  align-self: flex-end;
  p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $dark-blue;
    margin-bottom: 0px;
    margin-left: 8px;
  }
}


.card-subscription-show-price h2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  // text-transform: capitalize;
  margin-bottom: 0px;
  color: $vibrant-blue;
}
