.card-subscription-show {
  background: transparent;
  overflow: hidden;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 16px;
}
