// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// Typography style

  // Headers

body {
  background: $light-blue;
  // padding: 16px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: $headers-font;
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  color: $vibrant-blue;
}

h1 {
  font-size: 64px;
  line-height: 86px;
}

h2 {
  font-size: 56px;
  line-height: 76px;
}

h2 {
  font-size: 40px;
  line-height: 54px;
}

h4 {
  font-size: 32px;
  line-height: 43px;
}

h5 {
  font-size: 24px;
  line-height: 32px;
}


  // Texts

p {
  font-family: $body-font;
  font-size: 18px;
  line-height: 21px;
}
